html { 
  background: url(boat.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

div#container {
  height: 25em;
  position: relative;
}

div#container div {
  margin: 0;
  background: #f7df1e;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  height: 17em;
  width: 17em;
}

div#container div h1 {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: black;
  padding: 0 0.5em 0 0;
  bottom: 0;
  right: 0;
  position: absolute;
  text-align: right;
}
